* {
	box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
	margin: 0;
}

p {
	font-family: 'Open Sans', sans-serif;
}


/* ---- Card ---- */

.ui.container{
	margin-top:10px;
}

.ui.card {
  height: 420px;
}

.ui.buttons.bottomLine{
  min-width: 33.3333%;
  max-width: 33.3333%;
  font-size: 0.8em;
  padding: 6px 2px;
}

/* ---- Page Elements ---- */

.headline {
	color: darkred;
	margin-bottom: 0;
}

.btn-blue {
	width: 100%;
	background-color: #61dafb;
	border: none;
	padding: 10px 25px;
	font-size: 20px;
}

.btn-blue a {
	color: #000000;
}

.btn-blue:hover {
	background-color: #ffffff;
}


/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {

  /* .main-header {
    width: 100%;
    margin: 0 auto;
  } */

	.row {
		width: 90%;
		margin: auto;
	}

	.tagline {
		font-size: 1.4em;
	}

}